<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ADN Node.js Server Sample</title>

    <!-- External libraries -->
    <script src="https://code.jquery.com/jquery-2.1.2.js"></script><!-- jquery-2.1.2.min.js -->
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script> <!-- http://jqueryui.com/ -->

    <!-- link type="text/css" rel="stylesheet" href="https://raw.githubusercontent.com/mar10/fancytree/master/dist/skin-win8/ui.fancytree.min.css" / -->
    <link type="text/css" rel="stylesheet" href="/fancytree/skin-win8/ui.fancytree.min.css" />
    <!-- script src="https://raw.githubusercontent.com/mar10/fancytree/master/dist/jquery.fancytree-all.min.js"></script -->
    <script src="/fancytree/jquery.fancytree-all.min.js"></script>

    <!-- Autodesk View & Data API -->
    <link type="text/css" rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.css" />
    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js"></script>

    <!-- Our scripts -->
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <script>
        var oViewer =null ;
        var oViewable =null ;
        $(document).ready (function () {
            var options ={ 'document': '<%= urn %>', 'accessToken': '<%= accessToken %>', 'env': 'AutodeskProduction' } ;
            //oViewer =new Autodesk.Viewing.Viewer3D ($("#viewer") [0], {}) ; // No toolbar
            oViewer =new Autodesk.Viewing.Private.GuiViewer3D ($("#viewer") [0], {}) ; // With toolbar
            Autodesk.Viewing.Initializer (options, function () {
                oViewer.initialize () ;
                loadDocument (oViewer, options) ;
            }) ;
        }) ;

        function loadDocument (viewer, options) {
            if ( options.document.substring (0, 4) === 'urn:' )
                options.document =options.document.substring (4) ;

            Autodesk.Viewing.Document.load ('urn:' + options.document, //options.accessToken,
                function (doc) { // onLoadCallback
                    var geometryItems =[] ;
                    geometryItems =Autodesk.Viewing.Document.getSubItemsWithProperties (doc.getRootItem (), { 'type' : 'geometry', 'role' : '3d' }, true) ;
                    if ( geometryItems.length > 0 )
                        oViewer.load (doc.getViewablePath (geometryItems [0])) ;

                    var root ={ 'title': doc.myData.children [0].name, 'key': doc.myData.guid, 'folder': true, 'children': [] } ;
                    root.children =loopDoc (doc.myData) ;
                    $('#doctree').fancytree ({
                        source: [ root ],
                        checkbox: false
                    }) ;

                    $.ajax ({
                        url: '/api/results/<%= bucket %>/<%= root %>',
                        type: 'get',
                        complete: null
                    }).done (function (response) {
                        oViewable =response ;
                        var root ={ 'title': response.children [0].name, 'key': response.guid, 'folder': true, 'children': [] } ;
                        root.children =loopDoc (response) ;
                        $('#fulltree').fancytree ({
                            source: [ root ],
                            checkbox: false
                        }) ;
                        $('#fulltree').fancytree ('getTree').visit (function (node){
                            node.setExpanded (true) ;
                        }) ;
                    }).fail (function (xhr, ajaxOptions, thrownError) {
                        alert ('Failed to get server data!') ;
                    }) ;
                },
                function (errorMsg) { // onErrorCallback
                    alert("Load Error: " + errorMsg) ;
                }
            ) ;
        }

        function loopDoc (doc) {
            var data =[] ;
            $.each (doc.children, function (key, value) {
                var folder =(value.children !== undefined && value.children.length > 0) ;
                var node ={ 'title': getName (value), 'key': value.guid, 'folder': folder } ;
                if ( folder == true )
                    node.children =loopDoc (value) ;
                data.push (node) ;
            }) ;
            return (data) ;
        }

        function getName (value) {
            if ( value.name !== undefined )
                return (value.name) ;
            else if ( value.role !== undefined && value.urn !== undefined )
                return (value.urn.split ('/').pop ()) ;
            return ('?') ;
        }
    </script>
</head>

<body>

    <div id="project">

        <hr />
        <h3>LMV Node.js Sample</h3>
        <div id="viewer"></div>
        <br />

        <hr />
        <h3>Document Data</h3>
        <div id="doctree"></div>
        <br />

        <hr />
        <div>
            <div class="left"><h3>Full Viewable Data</h3></div>
            <div class="right"><a href="/api/results/<%= bucket %>/<%= root %>/project"><img src="/img/download.png" title="Download Viewables" /></a></div>
            <div class="clear"></div>
        </div>
        <div id="fulltree"></div>
        <br />

    </div>



</body>
</html>